<div class="show_background" style="background-image: url(<%= asset_path 'showpage.jpg' %>)" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/lumen/bootstrap.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/lumen/bootstrap.min.css"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
   
  <div class="padding">
    <div class="results-container">
      <% @result.each_with_index do |result, index| %>
      <% formatted_address = AddressViewObject.new(result).display%>
      <div class="results">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#<%=formatted_address%>" data-toggle="tab"><i class="fa fa-cutlery"></i> <%=formatted_address%> </a>
          </li>
        </ul> 
      <div>  

        <!-- OVERVIEW OF RESTAURANT -->
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="home">
            <p>
              <strong>Name:</strong>

              <%= @result[index].restaurant_name %>
            </p>
            
            <p>
              <strong>Cuisine:</strong>
              <%= @result[index].cuisine_description.split('').join('')%>
            </p>

            <p>
              <strong>Address:</strong>
              <%= @result[index].building %>
              <%= @result[index].street %>
              <%= @result[index].zipcode %>
              <%= @result[index].boro %>
            </p>
             
            <p>
              <strong>Phone:</strong>
              <%= @result[index].phone_num %>
            </p>
            <br>

            <p>
             <strong>Inspection Grade(s):</strong><br>
              <% @result[index].grade.each do |date, grade|%>
                Inspection Date: <%=InspectionDateViewObject.new(date).display%>, Grade: <%=grade.split('').join('')%><br>
              <%end%>     
            </p>
          <br>
        </div>
        
      </div>
    </div>
    <% end %>
  </div>
</div>


  

        
         