<div class="show_background" style="background-image: url(<%= asset_path 'showpage.jpg' %>)" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/lumen/bootstrap.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/lumen/bootstrap.min.css"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
 <div class="padding">
  <div class="results-container">
    <div class="results">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-cutlery"></i> Overview</a></li>
        <li><a href="#profile" data-toggle="tab"><i class="fa fa-cutlery"></i> Find <%=@result[0].restaurant_name%> on Yelp</a></li>
        <li><a href="#map" data-toggle="tab"><i class="fa fa-cutlery"></i> View <%=@result[0].restaurant_name%> on Map</a></li>
             
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fa fa-cutlery"></i> Inspection Results <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @result.each do |restaurant| %>
              <% restaurant.inspection_results.each do |inspection_date, citation| %>
                <% formatted_date = InspectionDateViewObject.new(inspection_date).display %>
              <ul>
                <li><a href="#<%=formatted_date%>" data-toggle="tab"><i class="fa fa-cutlery"></i> <%=formatted_date%></a></li>
                <li class="divider"></li>
              </ul>
                <%end%>
              <%end%>
            
          </ul>
        </li> 
      </ul>


      <!-- OVERVIEW OF RESTAURANT -->
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="home">
           <p>
            <strong>Name:</strong>

            <%= @result[0].restaurant_name %>
          </p>
          
          <p>
            <strong>Cuisine:</strong>
            <%= @result[0].cuisine_description.split('').join('')%>
          </p>
          
          <p>
            <strong>Address:</strong>
            <%= @result[0].building %>
            <%= @result[0].street %>
            <%= @result[0].zipcode %>
            <%= @result[0].boro %>
          </p>
           
          <p>
            <strong>Phone:</strong>
            <%= @result[0].phone_num %>
          </p>
          <br>
          
          <p>
            <strong>Inspection Grade(s):</strong><br>
              <% @result[0].grade.each do |date, grade|%>
                Inspection Date: <%=InspectionDateViewObject.new(date).display%>, Grade: <%=grade.split('').join('')%>
                <br><br>
              <%end%>
          </p>

          <br>
        </div>


        <!-- YELP RESULTS -->

        <div class="tab-pane fade" id="profile">
          <p>
            <strong>Rating:</strong> <%=@yelp.businesses[0].rating%> stars
          </p>
          <p>
            <strong>Review Count:</strong> <%=@yelp.businesses[0].review_count%> 
          </p>
          <p>
            <strong>Recent Review Snippet:</strong><br> <%=@yelp.businesses[0].snippet_text%>
          </p>
          <p>
            For more information, visit <u><a href="<%=@yelp.businesses[0].url%>"><%=@result[0].restaurant_name%></a></u>'s Yelp Page
          </p>

          <br><br>
        </div>

        <!-- GOOGLE MAP -->
        <div class="tab-pane fade" id="map">
          <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD6AHICy-KKBR2oipdWqk1wYu030qMeYfw&q=<%=@result[0].restaurant_name%> <%=@result[0].street%> restaurant new york city" allowfullscreen>
          </iframe>
        </div>

        <!-- INSPECTION RESULTS -->
        <% @result.each do |restaurant| %>
          <% restaurant.inspection_results.each do |inspection_date, citation| %>
            <% formatted_date = InspectionDateViewObject.new(inspection_date).display %>
        <div class="tab-pane fade" id="<%=formatted_date%>">
            <strong>INSPECTION DATE: <%=formatted_date%> </strong><br><br>

            <strong>Violation(s):</strong>
              <ul>
                <% citation.each do |text| %>
                  <i class="fa fa-cutlery"></i> <%=text%><br><br>
                  <%end%>
              </ul>
            <br>
          </div>
            <% end %>
          <% end %>
        </div>
      </div>      
   </div>
  </div>
 </div>
</div>

